<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Audio" version="2.0.7" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Complete" version="2.0.7" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Net" version="2.0.7" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Storage" version="2.0.7" targetFramework="win" />
  <package id="MetroEventToCommand" version="2.1" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.1" targetFramework="win" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="win" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="win" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="win" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="win" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="win" />
  <package id="Win8nl" version="1.0.8" targetFramework="win" />
  <package id="WinRtBehaviors" version="1.0.3" targetFramework="win" />
</packages>